@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .row-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex justify-center items-center flex-col;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0); /* 0 pozisyonunda başlar */
  }
  50% {
    transform: translateY(-50px); /* 50% pozisyonunda yukarı gider */
  }
  100% {
    transform: translateY(
      0
    ); /* 100% pozisyonunda başlangıç pozisyonuna geri döner */
  }
}
.upDownAnimate {
  animation: up-down 10s ease infinite; /* 1 saniye sürer, kolay geçiş, sonsuz tekrar */
}
@keyframes up-down-reverse {
  0% {
    transform: translateY(0); /* 0 pozisyonunda başlar */
  }
  50% {
    transform: translateY(50px); /* 50% pozisyonunda yukarı gider */
  }
  100% {
    transform: translateY(
      0
    ); /* 100% pozisyonunda başlangıç pozisyonuna geri döner */
  }
}
.upDownAnimateReverse {
  animation: up-down-reverse 10s ease infinite; /* 1 saniye sürer, kolay geçiş, sonsuz tekrar */
}

.addFileColorAnimate {
  border-radius: 30px;
  background-color: #666f7c;
  animation: gradient 3s ease infinite;
  background-image: linear-gradient(
    -45deg,
    rgba(167, 193, 211, 0.2),
    rgba(213, 217, 225, 0.2) 70%,
    rgba(250, 236, 236, 0.2)
  );
  background-size: 400% 400%;
}
.addFileColor {
  border-radius: 30px;
  background-color: #666f7c;
  background-image: linear-gradient(
    60deg,
    rgba(167, 193, 211, 0.2),
    rgba(213, 217, 225, 0.2) 70%,
    rgba(250, 236, 236, 0.2)
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.addFileWrap {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='45' ry='45' stroke='%23B2B7BDFF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  width: 282px;
  height: 233px;
  padding: 16px;
  border-radius: 45px;
  cursor: pointer;
}
